button{
    width: 20%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;

}
.save{
    background-image: linear-gradient( to bottom right,rgba(92, 142, 231 ,1),rgba(92, 142, 231 ,0.5));
    font-family: Calibri;
    font-size: large;
    letter-spacing: 1px;
    color: white;
    border: none;
    animation: colorChanging 5s infinite;
}
@keyframes colorChanging {
    from {background-color: blue}
    to {background-color: yellow;}
}
@keyframes colorChanging2 {
    from {background-color: blue}
    to {background-color: yellow;}
}
.save:hover{
    cursor: pointer;
    background-image: linear-gradient( rgba(92, 98, 200 ,1),rgba(92, 96, 220 ,0.6));
}
.cancel{
    opacity: 0.5;
    color: rgba(125,125,125,0.5);
    border:none;
    font-size: large;
    font-family: Calibri;
    border: 1px rgba(125,125,125,0.5) solid;
    background-color: transparent;
    animation: colorChanging2 5s infinite;
    font-weight: bold;
}
.cancel:hover{
    cursor: pointer;
    background-image: linear-gradient( rgba(125, 125, 125 ,1),rgba(125,125 , 125,0.5));
}
#button-open{
    display: none;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 120px;
    height: 50px;


}