.container-search{
    display: flex;

    margin-top: 14%;
    height: 30%;
    width: 100%;
    border-bottom: 2px solid rgba(125,125,125,0.5);
}
.img-serach{
    margin-left: 2%;
    margin-top: 2%;
    width: 5%;
    opacity: 0.5;
}
.input-search{
color: #888888;
    padding-left: 5%;
    font-size: large;
margin-left: 2%;
width: 95%;
border: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(125,125,125,0.5);
    padding-left: 2%;
    font-size: large;
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0,0,0,0.7);
    padding-left: 2%;
    font-size: large;
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(0,0,0,0.7);
    padding-left: 2%;
    font-size: large;
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(0,0,0,0.7);
    padding-left: 2%;
    font-size: large;
}
input:focus{
    outline: none;
}