<<<<<<< HEAD
#text {
  font-weight: bold;
  font-family: Calibri;
  font-size: 20px;
  margin-left: -10%;
  margin-top: 5%;
}
#ESC {
  align-self: flex-start;
  margin-right: -28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
#ESC:hover {
  cursor: pointer;
  color: #888888;
=======
#text{
    font-weight: bold;
    font-family: Calibri;
    font-size: 20px;
    margin-left: -10%;
    margin-top: 5%;
}
#ESC{
    align-self: flex-start;
    margin-right: -28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}
#ESC:hover{
    cursor: pointer;
    color: #888888;
>>>>>>> 97325a5e9b5831974af0f06b0329a2b0aab61b71
}
